<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NuevoViaje</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div th:insert="~{navbar.html :: navbar}"></div>
<h1>Nuevo Viaje</h1>

<form th:action="@{'/viajes/guardarViaje'}" th:object="${viaje}" method="post">
    <div class="mb-3">
        <div class="mb-3">
            <label for="puntoRecojo" class="form-label">Punto de recojo</label>
            <input  type="text" class="form-control" id="puntoRecojo" th:field="${viaje.puntoRecojo}" >
        </div>

        <div class="mb-3">
            <label for="cantPersonas" class="form-label">Cantidad de personas</label>
            <input  type="text" class="form-control" id="cantPersonas" >
        </div>

        <div class="mb-3">
            <label for="cantPerros" class="form-label">Cantidad de perros</label>
            <input name="cantPerros" type="text" class="form-control" id="cantPerros" th:field="${viaje.cantPerros}">
        </div>
        <div class="mb-3">
            <label  class="form-label">Personas</label>
            <select class="form-select" id ="p">
                <option th:each="persona : ${listaPersonas}" th:text="${persona.getNombre()}"
                        th:value="${persona.getId()}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label  class="form-label">Personas</label>
            <select class="form-select" id ="d">
                <option th:each="lugar : ${listaLugares}" th:text="${lugar.getNombreLugar()}"
                        th:value="${lugar.getId()}"></option>|
            </select>
        </div>

    </div>

</form>
</body>
</html>